Repository ubclaunchpad/PromoPal-backend, pull requests merged in 2020-11, with the labels that each got.

#21 Add typescript-eslint, Prettier, and Husky git hooks
  backend/.eslintrc.js
  backend/.prettierrc.json
  backend/README.md
  backend/jest.config.js
  backend/package.json
  backend/src/App.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/.eslintrc.js
  frontend/README.md
  frontend/package.json
  frontend/src/App.test.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: back-end, front-end

#46 Fix yarn.lock issues
  backend/yarn.lock
Labels: back-end, bug

#19 Added Endpoints for Google Places API for Search and Details
  backend/.gitignore
  backend/controllers/GooglePlacesAPI.ts
  backend/package.json
  backend/test/GooglePlacesAPI.test.ts
Labels: back-end

#47 Add skeleton implementation of Home Page
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/components/button/Dropdown.tsx
  frontend/src/components/navigation/NavigationBar.tsx
  frontend/src/components/navigation/SearchBar.tsx
  frontend/src/components/promotion/PromotionCard.tsx
  frontend/src/components/promotion/PromotionDetails.tsx
  frontend/src/components/promotion/PromotionImage.tsx
  frontend/src/index.js
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/screens/Home.tsx
  frontend/src/types/Dropdown.ts
  frontend/src/types/Promotion.ts
  frontend/yarn.lock
Labels: front-end

#43 Backend ORM - TypeORM
  backend/README.md
  backend/controllers/GooglePlacesAPI.ts
  backend/ormconfig.json
  backend/package.json
  backend/sample.env
  backend/src/App.ts
  backend/src/main/App.ts
  backend/src/main/data/CuisineType.ts
  backend/src/main/data/DiscountType.ts
  backend/src/main/data/PromotionCategory.ts
  backend/src/main/entity/Discount.ts
  backend/src/main/entity/Promotion.ts
  backend/src/main/entity/SavedPromotion.ts
  backend/src/main/entity/Schedule.ts
  backend/src/main/entity/User.ts
  backend/src/main/repository/DiscountRepository.ts
  backend/src/main/repository/PromotionRepository.ts
  backend/src/main/repository/SavedPromotionRepository.ts
  backend/src/main/repository/UserRepository.ts
  backend/src/main/resources/Data.ts
  backend/src/main/resources/init_data.sql
  backend/src/main/service/GooglePlacesService.ts
  backend/src/test/repository/BaseRepositoryTest.ts
  backend/src/test/repository/DiscountRepository.test.ts
  backend/src/test/repository/EntityIntegration.test.ts
  backend/src/test/repository/UserRepository.test.ts
  backend/src/test/service/GooglePlacesService.test.ts
  backend/test/GooglePlacesAPI.test.ts
  backend/tsconfig.json
  backend/yarn.lock
  docker-compose.yml
Labels: back-end, enhancement

#52 Added endpoints for promotions, validation, error handling
  backend/.eslintrc.js
  backend/README.md
  backend/ormconfig.json
  backend/package.json
  backend/src/main/App.ts
  backend/src/main/constant/Route.ts
  backend/src/main/controller/EnumController.ts
  backend/src/main/controller/PromotionController.ts
  backend/src/main/data/FrontEndErrorObject.ts
  backend/src/main/data/PromotionType.ts
  backend/src/main/entity/Discount.ts
  backend/src/main/entity/Promotion.ts
  backend/src/main/entity/SavedPromotion.ts
  backend/src/main/entity/Schedule.ts
  backend/src/main/entity/User.ts
  backend/src/main/middleware/ErrorHandler.ts
  backend/src/main/migration/1605475222018-FullTextSearch.ts
  backend/src/main/repository/PromotionRepository.ts
  backend/src/main/resources/Data.ts
  backend/src/main/resources/init_data.sql
  backend/src/main/route/EnumRouter.ts
  backend/src/main/route/PromotionRouter.ts
  backend/src/main/validation/DiscountValidation.ts
  backend/src/main/validation/IdValidation.ts
  backend/src/main/validation/PromotionQueryValidation.ts
  backend/src/main/validation/PromotionValidation.ts
  backend/src/test/repository/BaseRepositoryTest.ts
  backend/src/test/repository/EntityIntegration.test.ts
  backend/src/test/repository/UserRepository.test.ts
  backend/src/test/validation/DiscountValidation.test.ts
  backend/src/test/validation/IdValidation.test.ts
  backend/src/test/validation/PromotionQueryValidation.test.ts
  backend/src/test/validation/PromotionValidation.test.ts
  backend/yarn.lock
Labels: back-end

#67 Add filtering/sorting for dropdowns on Home page
  frontend/src/Router.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/components/PromotionList.tsx
  frontend/src/components/button/Dropdown.tsx
  frontend/src/components/promotion/PromotionCard.tsx
  frontend/src/components/promotion/PromotionDetails.tsx
  frontend/src/components/promotion/PromotionImage.tsx
  frontend/src/contexts/PromotionsListContext.tsx
  frontend/src/screens/Home.tsx
  frontend/src/screens/MyPromotions.tsx
  frontend/src/services/promotions.ts
  frontend/src/types/Promotion.ts
  frontend/src/types/dropdown.ts
  frontend/src/types/promotion.ts
  frontend/src/utils/enum.ts
Labels: front-end

#66 Integrated Map component on Home page
  frontend/.gitignore
  frontend/index.d.ts
  frontend/package.json
  frontend/sample.env
  frontend/src/Router.tsx
  frontend/src/components/DropdownMenu.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/PromotionList.tsx
  frontend/src/components/button/Dropdown.tsx
  frontend/src/components/navigation/NavigationBar.tsx
  frontend/src/components/promotion/PromotionCard.tsx
  frontend/src/components/promotion/PromotionDetails.tsx
  frontend/src/components/promotion/PromotionImage.tsx
  frontend/src/contexts/PromotionsListContext.tsx
  frontend/src/index.css
  frontend/src/screens/Home.tsx
  frontend/src/screens/MyPromotions.tsx
  frontend/src/services/promotions.ts
  frontend/src/types/Promotion.ts
  frontend/src/types/dropdown.ts
  frontend/src/types/promotion.ts
  frontend/src/utils/enum.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: front-end
